version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:12.12.0
    steps:
      - checkout
      - run:
        name: Install deps
        command: npm ci
      - run:
        name: Build
        command: npm run build
      - run:
        name: Deploy
        command: npm run deploy

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build:
        filters:
          branches:
            only: master
